########## C++ ##########
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

########## IDE: TrueSTUDIO for STM32 ##########
/Debug/
/Release/
/libraries/
/Utilities/

/src/
/src/startup_stm32f10x_md.s
/src/system_stm32f10x.c
/src/tiny_printf.c
/src/stm32f10x_conf.h

stm32_flash.ld
*.elf.launch